 @font-face {
            font-family: burbank;
            src: url(/fontsandstuff/BurbankBigCondensed-Black.otf);
        }

        @font-face {
            font-family: cafeteria;
            src: url(/fontsandstuff/Cafeteria-Bold.otf);
        }

        @font-face {
            font-family: brianne;
            src: url(/fontsandstuff/Brianne_s_hand.ttf);
        }

        @font-face {
            font-family: hterror;
            src: url(/fontsandstuff/HouseofTerror%20Regular.otf);
        }

        @font-face {
            font-family: dwar;
            src: url(/fontsandstuff/DWARVESC.TTF);
        }

        h2,
        h3 {
            font-family: cafeteria;
        }

        body#index {
            background: url('/fontsandstuff/yardday.png') no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            overflow: hidden;
            display: grid;
            justify-content: center;
        }

        #wrap {
            width: 680px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            background: url('/fontsandstuff/pvzbanner.png') no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 140px;
            margin: 5px 0px 0px 0px;
            font-family: "burbank";
            font-size: 2.8em;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border: 5px ridge #93451C;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            -webkit-text-stroke-width: 0.8px;
            -webkit-text-stroke-color: #000;
        }


        nav {
            background: #813F1D;
            height: 50px;
            align-content: center;
            border: 5px ridge #93451C;
            width: 100%;
            border-top: none;
        }

        main {
            background: #ffecc4;
            width: 100%;
            height: 460px;
            border: 5px ridge #93451C;
            border-radius: 10px;
            border-top: unset;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .navb {
            width: 156.7px;
            margin: 0px;
            height: 34px;
            font-family: dwar;
            font-size: 32px;
            letter-spacing: -3px;
            border: 5px outset #93451C;
            background: #93451C;
            color: #E7B347;
            box-shadow: inset 3px 1px 2px 0px #bc6437;
            -webkit-text-stroke-width: 0.8px;
            -webkit-text-stroke-color: #733110;
            display: inline-block;
            text-align: center;
            padding-top: 5px;
            text-decoration: none;
        }

        .navb:hover {
            border: 5px inset #813F1D;
            background: #813F1D;
            box-shadow: inset -2px -3px 2px 0px #552e1a;
        }

        .display {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: brianne;
            font-size: 1.08em;
            overflow: hidden;
            height: 435px;
            padding: 5px;
        }

        #plants {
            background: linear-gradient(#52ff3a, #05c223);
            background-clip: border-box;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #vs {
            background: linear-gradient(#fefffe, #d0d0d0);
            background-clip: border-box;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #zombies {
            background: linear-gradient(#d2d2d2, #454545);
            background-clip: border-box;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #webring {
            background: linear-gradient(#ff9105, #e25a17);
            background-clip: border-box;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #floats {
            margin: 30px;
        }

        .textbox {
            width: 360px;
            margin: 10px;
            padding: 5px;
            height: fit-content;
            text-align: center;
        }


        .fontbutton {
            position: absolute;
            font-family: cafeteria;
            font-size: 30px;
            border: 2px outset #662E11;
            border-radius: 3px;
            background: #93451C;
            color: #FFC858;
            left: 285px;
            top: 15px;
        }

        #memberlist {
            max-height: 460px;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: #efe381 #FFECC4;
            overflow-x: hidden;
        }

        table {
            display: table;
            width: 516px;
            background: #93451C;
            border: 4px ridge #93451C;
            text-align: center;
            margin: 5px;
        }

        thead {
            font-family: cafeteria;
            font-size: 26px;
            color: #E7B347;
            border-bottom: 4px ridge #93451C;
        }

        tr {
            margin: 3px;
        }

        th {
            font-family: "cafeteria";
        }

        tbody {
            background: #FFECC4;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }